[Unit]
Description=Pushgateway
Wants=network-online.target
After=network-online.target

[Service]
User=prometheus
Group=prometheus
Type=simple
ExecStart=/usr/local/bin/pushgateway \
    --web.listen-address=":9091" \
    --web.telemetry-path="/metrics" \
    --persistence.file="/var/pushgateway/metric.store" \
    --persistence.interval=5m \
    --log.level="info"

[Install]
WantedBy=multi-user.target
