[Unit]
Description=Thanos-Querier
Wants=network-online.target
After=network-online.target
StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
User=prometheus
Group=prometheus
Restart=on-failure
RestartSec=5s
Type=simple
ExecStart=/usr/local/bin/thanos \
    query \
    --http-address 0.0.0.0:10902 \
    --query.replica-label replica \
    --store prometheus-ams-0.domain.local:10901 \
    --store prometheus-ams-1.domain.local:10901 \
    --store prometheus-fra-0.domain.local:10901 \
    --store prometheus-fra-1.domain.local:10901 \
    --store thanos-store-gw.domain.local:10901 \
    --store thanos-receive.domain.local:10901

[Install]
WantedBy=multi-user.target
